<section>
	<% if @results.class == String %>
		<article>
			<h3><%= @results%></h3>
		</article>
	<% else %>
		<% @results.each do |restaurant| %>
			<article>
				<h3><%= restaurant["aka_name"] %></h3>
				<h6><%= restaurant["address"] %></h6>
				<h6><%= restaurant["results"] %></h6>
				<h6><%= restaurant["inspection_date"]%></h6>
				<% if restaurant.key?("violations") %>
					<% restaurant["violations"].each do |violation| %>
						<p><%= violation %></p>
					<% end %>
				<% end %>
			</article>
		<% end %>
	<% end %>
</section>